# ESP-IDF build
build/
# secret
Application/app_core0/include/secrets.h
#components
managed_components/
#dependencies
dependencies.lock
#config
sdkconfig
sdkconfig.defaults
# secret
Application/Network/include/secrets.h
/.macro/
